@model Book

<h3>@Model.BookID Information</h3>

<table class="table">
    <tr>
        <th>BookID</th>
        <th>Title</th>
        <th>AuthorName</th>
        <th>Genre</th>
        <th>ReviewScore</th>
    </tr>
    <tr>
        <td>@Model.BookID</td>
        <td>@Model.Title</td>
        <td>@Model.AuthorName</td>
        <td>@Model.Genre</td>
        <td>@Model.ReviewScore</td>
    </tr>

</table>

